html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.logo {
  width: 6rem;
}

/*   GRID LAYOUT   all pages except contact page */
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "section" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 1fr 8rem;
  height: 100vh;
}
header {
  grid-area: header;
  background: #203040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.3rem;
}

main {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  grid-area: main;
  display: flex;
  justify-content: center;
}

section {
  grid-area: section;
  display: flex;
  margin: 6rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.content-wrap {
  margin: 8rem auto;
  padding: 2rem;
  box-shadow: 0px 1px 5px 1px #ccc;
  border-radius: 10px;
  font-size: 1.4rem;
}
.content-wrap:hover {
  transition: 0.2s ease-in;
  box-shadow: 0px 1px 20px 1px #ccc;
}
section > .card {
  margin: 2rem;
  text-align: center;
  font-size: 1.4rem;
}
main > div {
  margin: 5rem 2rem auto;
  text-align: center;
  padding: 2rem 0;
}

footer {
  grid-area: footer;
  background: #203040;
  font-size: 1.3rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer > div:nth-of-type(1) {
  padding-right: 1rem;
}

/*  Common style sheet   */
.gray-color-text {
  opacity: 35%;
}
header > div > a {
  color: #fff;
  text-decoration: none;
  margin: 1.6rem;
}
header > div > a:hover {
  color: orange;
  transition: ease-in 0.3s;
}
.fixed-whatsapp-icon {
  height: 4.5rem;
  width: 4.5rem;
  position: fixed;
  top: 90%;
  right: 1%;
}

.social-network-icon {
  font-size: 2.5rem;
}
i {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}
i:hover {
  color: orange;
}

/*      Cards in Section */
.card {
  box-shadow: 1.5rem 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 3%;
  font-size: 1.4rem;
}
@media screen and (max-width: 300px) {
  .card {
    width: 80%;
    font-size: 1.6rem;
  }
  header {
    justify-content: center;
  }
  .logo {
    height: 3rem;
    width: 4rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 370px) {
  .logo {
    height: 3.5rem;
    width: 3.5rem;
    margin-top: 1rem;
  }
  main > div:last-child {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 700px) {
  main {
    display: block;
  }
  .card {
    width: 75%;
    font-size: 1.6rem;
    margin: 0 auto;
    margin-bottom: 1.8rem;
  }
  .social-network-icon {
    font-size: 2rem;
  }
  .fixed-whatsapp-icon {
    height: 4.5rem;
    width: 4.5rem;
    position: fixed;
    top: 86%;
    right: 1%;
  }
  .sidebar-nav {
    display: none;
  }
  .gallery-img-block > img {
    margin: 0rem auto;
    padding: 0rem;
  }
  img.img-gallery {
    margin-right: 0%;
  }
  .text {
    margin-right: 0% !important;
  }
}

@media screen and (min-width: 1500px) {
  .nav-item,
  footer > div:nth-child(1) {
    font-size: 1.7rem;
  }
  .main-contact-page > .card {
    height: 50rem;
  }
}
.email-link {
  text-decoration: none;
  color: #203040;
}
.email-link:hover {
  color: orange;
  transition: 0.3s ease-in;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 2px 16px;
}

/*    Image in cards    */
.card-img {
  max-height: 40vh;
  max-width: 11vw;
}
/*      Image in cards      */
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*    Buttons   */
button {
  font-size: 1.2rem;
  width: fit-content;
}

/*    Contact Page Main*/

.grid-container-conatact-page {
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 7rem;
}
.header-contact-page {
  grid-area: header;
  background: #203040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-contact-page {
  height: 100vh;
  grid-area: main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
}
.footer-contact-page {
  grid-area: footer;
  background: #203040;
  font-size: 1.3rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-contact-page > div {
  height: 35rem;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
}

/*      Forms     */
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #203040;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: 0.2s ease-in;
  background-color: rgb(134, 89, 10);
}

.form-container {
  font-size: 1.6rem;
  border-radius: 3%;
  background-color: #f2f2f2;
  padding: 20px;
}
/*     Button in thank you page     */
.thank-you-button {
  background-color: #203040;
  color: #fff;
  height: 3.5rem;
  border-radius: 1.5rem;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
  width: 22rem;
  font-size: 1.6rem;
}
.thank-you-button:hover {
  transition: 0.2s ease-in;
  background-color: rgb(73, 9, 9);
  color: white;
}
::selection {
  background-color: black;
  color: white;
}

textarea {
  border-radius: 0.5rem;
  border: 0.1rem #ccc solid;
  width: 98%;
  padding: 5px;
  margin-right: -2px;
}

/* Tourism page*/
.sidebar-nav {
  transition: 0.3s ease-in-out;
  height: 100vh;
  position: fixed;
  width: 20vw;
  background-color: #203040;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
}
.burger-icon {
  position: inherit;
  margin: 1.3rem;
  margin-top: 2.2rem;
}
.fas.fa-bars:hover {
  color: orange;
}

.fas.fa-bars {
  color: white;
  font-size: 2.1rem;
  text-decoration: none;
}
.sidebar-nav-item-special {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
}
.sidebar-nav-items {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-nav-item-special:hover,
.sidebar-nav-items:hover {
  background-color: orange;
}
.side-bar-text {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-weight: 100;
  font-size: 1.7rem;
}
.side-bar-text:hover {
  color: #203040;
}

.collapse {
  width: 3.9vw;
  transition: 0.3s ease-in-out;
}
/*    Images in Gallery Page*/
.img-gallery {
  width: 45%;
  height: 75%;
  border-radius: 0.5rem;
  margin-right: 25%;
  transition: 0.3s ease-in-out;
}
.gallery-img-block {
  display: inline-block;
  margin: 0rem;
  padding: 2.5rem;
}
.hide-text {
  display: none;
  background-color: #203040;
}
.img-block-after-side-bar-collapse {
  padding-top: 3rem;
  margin-right: 0%;
  transition: 0.3s ease-in-out;
}
.img-gallery-collapse {
  margin: 0;
  margin-right: 3.9vw;
}

.no-background:hover {
  background-color: transparent !important;
}

/*      UNIVERSITY PAGE   */
.grid-container-university {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 8rem;
  height: 100vh;
}
.text {
  margin-right: 25%;
  transition: 0.3s ease;
}
.text-after-collapse {
  margin-left: 25%;
  transition: 0.3s ease;
}
.university-card {
  margin: 100rem;
  padding: 2.5rem;
}
